            body {
    background: url("http://www.powerpointhintergrund.com/uploads/carbon-fiber-texture-and-pattern-28.jpg");
    background-size: cover;
    background-repeat: cover;
    background-color: darkgray;
    padding: 0;
    margin: 0;
    height: 100%;
}

header {
    background-color: white;
    clear: both;
    border-bottom: 3px solid #cccccc;
    box-sizing: border-box;
    width: 100%;
    height: 94px;
}

header h1 {
    background-color: #4aaaa5;
    font-size: 45px;
    color: white;
    display: inline-block;
    padding: 20px;
    margin: 0 80px;
    float: left;
    box-sizing: border-box;
}

h2 {
    color: #51aaa5;
    font-size: 30px;
    margin: 20px 20px 0px 20px;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 20px;
}


/*Nav*/

#Nav {
    color: #777777;
    font-size: 12px;
    text-decoration: none;
    font-family: 'arial', 'helvetica';
    background-color: #ffffff;
    float: right;
    margin: 5px 352px 0px 0px;
}

#Nav li {
    display: inline-block;
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
    float: left;
    margin: 0px 0px 0px 0px;
}

li:not(:last-child) {
    border-right: 1px solid lightgray;
}

a {
    text-decoration: none;
    color: #9999a2;
}


.container {
    float: left;
}

#about-me {
    background-color: #ffffff;
    color: #4aaaa5;
    margin: 29px 73px 0px 78px;
    font-family: "times";
    font-size: 18px;
    width: 650px;
    padding: 15px;
    border-style: solid;
    border-color: #b4b4b4;
    border-width: 1px;
}

#about-me-content {
    background-color: #ffffff;
    color: #777777;
    margin: -5px 0px 0px 5px;
    font-family: "helvetica";
    font-size: 18px;
    line-height: 1.8;
}

img {
    width: 25%;
    margin: 42px 18px 5px 7px;
    float: left;
}

.clearfix::after {
    Content: "";
    Display: block;
    Clear: both
}

.imgclass1 {
    float: left;
    margin: 0px 0px 0px 0px;
    width: 72px;
    height: 75px;
    padding: 15px 10px 0px 0px;
    margin: 15px 0px 0px 5px;
}

#connect-with-me {
    background-color: #ffffff;
    margin: -466px 413px 22px 837px;
    font-family: "times";
    text-align: center;
    width: 267px;
    padding: 15px;
    border-style: solid;
    border-color: #b4b4b4;
    border-width: 1px;
    position: relative;
    float: left
}


footer {
    background-color: #666666;
    border-top: solid;
    border-color: #4aaaa5;
    border-top-width: 10px;
    text-align: center;
    color: #b4b4b4;
    padding: 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: -40px;
    ;
}

@media screen and (max-width: 980px) {
    Body {
        background-color: darkgray;
    }

    .entire-area {
        width: 600px;
        margin-top: 10px;
    }
    header {
        height: 75px;
    }
    header h1 {
        margin: 0px 0px 0px 70px;
        font-size: 28px;
        text-align: center;
        position: static;
    }

    .clearfix::after {
        Content: "";
        Display: block;
        Clear: both;
        margin: 0px 0px 0px 20px;
    }
    #Name {
        width: 100%;
        float;
        left;
    }

    #Nav {
        width: 50%;
        float: right;
        display: block;
        margin: -5px 0px 0px 20px;
        text-align: center;
        height: 75px;
    }

    #about-me {
        width: 75%;
        margin: 20px 20px -1px 70px;
    }
    #connect-with-me {
        width: 45%;
        margin: -625px -274px 13px 592px;
    }

    .container {
        margin: 0px 0px 0px 0px;
    }
    img {
        width: 35%;
        margin: 43px 15px 1px 6px;
    }

    footer {
        margin: 10px 18px 5px 5px;
    }

    @media screen and (max-width: 768px) {
        Body {
            background-color: darkgray;
        }

        .entire-area {
            width: 600px;
            margin-top: 10px;
        }
        header {
            height: 75px;
            width: 100%;
        }
        header h1 {
            margin: 0px 0px 0px 20px;
            font-size: 28px;
            text-align: center;
            position: static;
        }

        .clearfix::after {
            Content: "";
            Display: block;
            Clear: both;
            margin: 0px 0px 0px 20px;
        }
        #Name {
            width: 100%;
            float;
            left;
        }

        #Nav {
            width: 50%;
            float: right;
            display: block;
            margin: -5px 0px 0px 20px;
            text-align: center;
            height: 75px;
        }

        #about-me {
            width: 115%;
            margin: 9px 20px -1px 20px;
            height: 500px;
        }
        #connect-with-me {
            width: 115%;
            margin: 20px -105px 13px 22px;
        }
        .container {
            margin: 0px 0px 0px 0px;
        }
        img {
            width: 35%;
            margin: 43px 15px 1px 6px;
        }

        footer {
            position: static;
            margin: 10px 18px 5px 5px;
        }

        @media screen and (max-width: 640px) {
            Body {
                background-color: darkgray;
            }

            a {
                margin: 0px 54px 0px 27px;
            }
            .entire-area {
                width: 600px;
                margin-top: 10px;
            }

            header {
                height: 114px;
                width: 100%;
            }
            header h1 {

                font-size: 28px;
                width: 100%;
                text-align: center;
                position: static;
                margin: 0px 0px 0px -2px;
            }
            #Name {
                width: 100%;
                float;
                left;
            }

            #Nav {
                width: 100%;
                float: none;
                display: block;
                margin: -20px 1px 1px 0px;
                text-align: center;
                height: 133px;
            }

            #about-me {
                width: 93%;
                margin: 17px 0px 0px 11px;
                height: auto;
            }
            #connect-with-me {
                width: 93%;
                margin: 15px 7px 0px 13px;
            }
            .container {
                margin: 28px 0px 0px 0x;
            }
            img {
                width: 100%;
                margin: 10px 18px 5px 5px;
            }

            footer {
                position: static;
                margin: 10px 18px 5px 5px;
            }